<div class="main-container">
	<h1 class="header-text">Process over Passion</h1>
	<h2>Success is a system</h2>
</div>

<div class="content-container">
  <h3>Take a holistic approach to coding bootcamp success</h3>
  <img src="<%= image_url('puzzle.png') %>"></img>

  <h3>Let's be honest...</h3><br />
  <h4>Not everyone who enrolls in a coding bootcamp gets a job after graduation.</h4>
  <p>Some dropout. Some graduate the program but are still ill-equipped for the job market.</p>
  <p>Some blame the school. Some blame the instructors.</p>
  <p>Others blame the propaganda that's fooling everyone into believing "Anyone can learn to code in X weeks", however...</p>
  <h4>Not everyone who enrolls in a coding bootcamp is a failure.</h4>
  <p>Quite the contrary.</p>
  <p>The majority of students graduating from coding bootcamps are able to find employment within a few months of graduating.</p>
  <p>These students are unique and they come from all walks of life, but what makes these students more successful over others?</p>
  <p>After interviewing over a hundred former bootcamp students I've noticed that...</p>
  <h4>All successful bootcamp students have certain things in common.</h4>
  <p>Although these people are unique individuals they have laid their foundation properly.</p>
  <p>Whether they know it or not, they have a system.</p>
  <p>I can't bear to see another person spend over 10 thousand dollars on a bootcamp only to go back to their previous job.</p>
  <h3>Success is a system and I want to share this system with you.</h3>
</div>

<div class="row">
	<div class="container budget-container col-sm-6">
		<div class="text-container">
			<h2>Budgeting</h2>
		</div>
	</div>
	<div class="container study-container col-sm-6">
		<div class="text-container">
			<h2>Studying</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="container job-container col-sm-6">
		<div class="text-container">
			<h2>Job Search</h2>
		</div>
	</div>
	<div class="container salary-container col-sm-6">
		<div class="text-container">
			<h2>Salaries</h2>
		</div>
	</div>
</div>

<div class="sign-up-container">
	<div class="text-container">
		<h2>Curriculum is under development</h2>
		<h3>Sign up to be the first to hear about updates</h3>
		<button class="btn" data-toggle="modal" data-target="#contact-me-form"><h4>Sign up!</h4></button>
	</div>
</div>

<div class="modal fade" id="contact-me-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Be the first to hear about updates!</h4>
      </div>
      <div class="modal-body">
        <form class="new-user-form">
          <input type="text" class="form-control js-user-name" placeholder="Name" />
          <input type="email" class="form-control js-user-email" placeholder="Email" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary js-create-user">Send</button>
      </div>
    </div>
  </div>
</div>
