<div class="main-container">
	<h1 class="header-text">Process over Passion</h1>
	<h2>Success is a system</h2>
</div>

<div class="row">
	<div class="container budget-container col-sm-6">
		<div class="text-container">
			<h2>Budgeting</h2>
		</div>
	</div>
	<div class="container study-container col-sm-6">
		<div class="text-container">
			<h2>Studying</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="container job-container col-sm-6">
		<div class="text-container">
			<h2>Job Search</h2>
		</div>
	</div>
	<div class="container salary-container col-sm-6">
		<div class="text-container">
			<h2>Salaries</h2>
		</div>
	</div>
</div>

<div class="sign-up-container">
	<div class="text-container">
		<h2>Curriculum is under development</h2>
		<h3>Sign up to be the first to hear about updates</h3>
		<a class="btn" href="/sign_up">Sign up!</a>
	</div>
</div>