<div class="main-container">
	<h1 class="header-text">Process over Passion</h1>
	<h2>Success is a system</h2>
</div>

<div class="row">
	<div class="container budget-container col-sm-6">
		<div class="text-container">
			<h2>Budgeting</h2>
		</div>
	</div>
	<div class="container study-container col-sm-6">
		<div class="text-container">
			<h2>Studying</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="container job-container col-sm-6">
		<div class="text-container">
			<h2>Job Search</h2>
		</div>
	</div>
	<div class="container salary-container col-sm-6">
		<div class="text-container">
			<h2>Salaries</h2>
		</div>
	</div>
</div>

<div class="sign-up-container">
	<div class="text-container">
		<h2>Curriculum is under development</h2>
		<h3>Sign up to be the first to hear about updates</h3>
		<button class="btn" data-toggle="modal" data-target="#contact-me-form"><h4>Sign up!</h4></button>
	</div>
</div>

<div class="modal fade" id="contact-me-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Be the first to hear about updates!</h4>
      </div>
      <div class="modal-body">
        <form class="sender-info-form">
          <input type="text" class="form-control js-sender-name sender-name" placeholder="Name" />
          <input type="email" class="form-control js-sender-email sender-email" placeholder="Email" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary js-send-email">Send</button>
      </div>
    </div>
  </div>
</div>
