<p>Hey <%= @user.name %>!</p>

<p>Welcome to ZeroToBootcamp!</p>
<p>Thank you for your interest.</p>
<p>We are still working on developing our content and curriculum.</p>
<p>We'll let you know about updates!</p>
