# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2749a364461a0f99823c4d560a80b8af01260fcec3eafa35293d182a642c58b1fc50147eb6715ce14828b0180d5ccc15e92fc3593c210a58a3cf4471a799d88f

test:
  secret_key_base: d973e5a80c7b9536c58802f72767182d8fbdabef8c2ea73b18d20934a374a8cfc69ebfd1bf198cf838214dafae1c78cf28bd6a199e76f6cfc5301cb0d45db6e2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
