body {
	background-color: #000;
	font-family: Helvetica Neue;
	font-weight: lighter;
	color: white;
	margin: 0;
}

.content {
	max-width: 120rem;
	margin: 0 auto;
	background-color: #FFF;
}

.header-nav {
	background-color: #1cbbb4;

	ul {
		display: flex;
		list-style-type: none;
		margin: 0;
		align-items: center;
		justify-content: space-between;
		padding: 0 40px;
	}

	ul:first-child {
		flex: 1;
	}

	button {
		background-color: inherit;
		color: white;
		text-decoration: none;
		border: none;
	}

	p {
		margin: 0;
		padding: 16px;
		font-size: 16pt;
	}

	.bootcamp-text {
		font-weight: normal;
	}
}

.main-container {
	display: flex;
	background-image: image-url('header-image.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 50rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 16px;

	.header-text {
		font-weight: lighter;
		margin: 0;
		display: flex;
		font-size: 36pt;
    text-shadow: 2px 2px black;
    text-align: center;
	}

	h2 {
		font-weight: lighter;
		font-size: 24pt;
	}
}

.content-container {
	padding: 16px 20%;
	background-color: #448ccb;
	margin-bottom: 16px;
	text-align: justify;

	.content-header {
		margin-bottom: 32px;
	}

	.content-sub-header {
		margin-top: 32px;
		margin-bottom: 24px;
	}

	h3 {
		text-align: center;
	}

	h4:first-of-type {
		margin-top: 0;
	}

	h4 {
		margin-top: 30px;
	}

	img {
		display: block;
		margin: 0 auto;
		height: 152px;
		width: 152px;
	}

	p {
		font-size: 18px;
	}
}

.row {
	width: 100%;
	margin: 0;
}

.container {
	height: 35rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
}

.text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;

	h2 {
		display: flex;
		font-weight: lighter;
	}
}

.budget-container {
	background-image: image-url('budget-image.jpg');
}

.budget-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fbaf4d;
	opacity: 0.5;
}

.study-container {
	background-image: image-url('study-image.jpg');
}

.study-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #448ccb;
	opacity: 0.5;
}

.job-container {
	background-image: image-url('job-image.jpg');
}

.job-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #1cbbb4;
	opacity: 0.5;
}

.salary-container {
	background-image: image-url('salary-image.jpg');
}

.salary-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #7cc576;
	opacity: 0.5;
}

.sign-up-container {
	display: flex;
	margin-top: 16px;
	background-image: image-url('sign-up-image.png');
	background-size: 100% 100%;
	height: 50rem;
	text-align: center;

	h3 {
		font-weight: lighter;
	}

	button {
		margin-top: 16px;
		background-color: #1cbbb4;
		color: #FFF;
		padding: 12px 20px;

		h4 {
			margin: 0;
		}
	}
}
