body {
	margin: 0;
	font-family: Helvetica Neue;
	font-weight: lighter;
	color: white;
}

.header-nav {
	background-color: #1cbbb4;

	ul {
		list-style-type: none;
		margin: 0;
	}

	p {
		margin: 0;
		padding: 16px;
		font-size: 16pt;
	}

	.bootcamp-text {
		font-weight: normal;
	}
}

.main-container {
	display: flex;
	background-image: image-url('header-image.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100wh;
	height: 45rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 16px;

	.header-text {
		font-weight: lighter;
		margin: 0;
		display: flex;
		font-size: 36pt;
    text-shadow: 2px 2px black;
	}

	h2 {
		font-weight: lighter;
		font-size: 24pt;
	}
}

.container {
	height: 35rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;

	.text-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1;

		h2 {
			display: flex;
			font-weight: lighter;
		}
	}
}

.budget-container {
	background-color: yellow;
	background-image: image-url('budget-image.jpg');
}

.budget-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fbaf4d;
	opacity: 0.5;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.study-container {
	background-image: image-url('study-image.jpg');
}

.study-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #448ccb;
	opacity: 0.5;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.job-container {
	background-image: image-url('job-image.jpg');
}

.job-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #1cbbb4;
	opacity: 0.5;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.salary-container {
	background-image: image-url('salary-image.jpg');
}

.salary-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #7cc576;
	opacity: 0.5;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}
