<!DOCTYPE html>
<html>
<head>
  <title>Zero To Bootcamp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="content">
		<nav class="header-nav">
			<ul>
		    <li><p>zeroto<span class="bootcamp-text">Bootcamp</span></p></li>
		  </ul>
		</nav>
		<%= yield %>
	</div>
</body>
</html>
